**/.coverage
__pycache__
.env
secrets/*
*.crt
*.key
*.priv
*.pub
docker-compose.override.yml
**/coverage.xml
services/iti-91/tests/mock_data
services/iti-91/tests/testing_results
services/iti-91/tests/new_testing_results
services/iti-91/tests/tests/**
version.json
PoC-9-SYS.code-workspace
