[app]
# Loglevel can be one of: debug, info, warning, error, critical
loglevel=debug

[database]
# Dsn for database connection
dsn=postgresql+psycopg://postgres:postgres@mcsd_consumer_db:5432/postgres
create_tables=false
retry_backoff=0.1, 0.2, 0.4, 0.8, 1.6, 3.2, 4.8, 6.4, 10.0
pool_size=5
max_overflow=10
pool_pre_ping=False
pool_recycle=1800

[telemetry]
# Telemetry is enabled or not
enabled = True
# Endpoint to GRPC server for telemetry
endpoint = http://tracing:4317
# Service name to use
service_name = Lokalisatie Metadata Register
# Tracer name to use
tracer_name = zmodules.service.localisation_metadata_register

[stats]
# Statsd is enabled or not
enabled = True
# Host for statsd server
host = 127.0.0.1
# Port for statsd server
port = 8125
# Module name to use
module_name = metadata

[uvicorn]
swagger_enabled = True
docs_url = /docs
redoc_url = /redocs
host = 0.0.0.0
port = 8509
reload = True

use_ssl = False
ssl_base_dir = secrets/ssl
ssl_cert_file = server.cert
ssl_key_file = server.key

[mcsd]
consumer_url = http://hapi-metadata-addressing:8513/fhir
# authentication can be either "off", or "azure_oauth2" in case of azure oauth2 authentication
authentication = off

[azure_oauth2]
# Token url is the url of the oauth2 endpoint of the microsoft services
token_url =
# Given client ID of the application
client_id =
# Given client secret of the application
client_secret =
# Resource of the application. Most likely the consumer url
resource =

[aws]
# Profile to use for aws authentication
profile =
# Region of the healthlake
region = eu-west-2

[mock_seeder]
mock_supplier_url = # For a local test HAPI it can be: http://host.docker.internal:8081/fhir/
